### Database MySQL Assignment
*By Shahequa Modabbera*

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Ans) A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database. 

*The differences between SQL and NoSQL database are:*

`SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database.` 

`SQL databases defines and manipulates data which are in structured format. On the other hand, a NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store.`

`In almost all situations SQL databases are vertically scalable. This means that we can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that we handle more traffic by sharding, or adding more servers in our NoSQL database.` 

`SQL databases are table-based. On the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores.`

`MySQL, PostgreSQL, Oracle, MS-SQL Server, etc are some examples of SQL database.  MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc are some examples of NoSQL database.`

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans) DDL stands for Data Definition Language. DDL commands are those that can be used to define the database schema. It consists of metadata of the database schema and also create and modify the structure of the various objects within the database.

`CREATE is a DDL command used to create databases, tables, triggers and other database objects.`

*Example:*

    CREATE TABLE Table_Name(
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
    );


`DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the entire table, view, or index from the database using this DDL command.`

*Example:*

    DROP TABLE Table_Name;


`ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.
We can also add and drop constraints of the table using the ALTER command.`

*Example:*   

    ALTER TABLE Table_Name
    ADD Email varchar(255);


`TRUNCATE is another DDL command which deletes or removes all the records from the table.
This command also removes the space allocated for storing the table records.`

*Example:*      

    TRUNCATE TABLE Table_Name;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans) DML stands for Data Manipulation Language. A DML refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language’s operators. A DML (data manipulation language) is a group of computer languages that provide commands for manipulating data in databases.

The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:

    The INSERT statement introduces new rows into an existing table.
    The DELETE statement removes a row or combination of rows from a table.
    The UPDATE statement enables users to update a row or group of rows in a table.

(i) Syntax: INSERT into table-name values (data, data …)

EXAMPLE:

Suppose we have the following fields in the table named as EMPLOYEE as follows:
Dept_No 	Dept_Name 	Emp_No 	Emp_Name

The query to insert values to these fields in table.

INSERT into EMPLOYEE values (10, ‘Management’, ‘E01’, ‘John Abraham’);

This query will add the data into the fields and will produce the following result:
Dept_No 	Dept_Name 	  Emp_No 	Emp_Name
10 	        Management 	  E01 	    John Abraham

(ii) Syntax: Update table-name set column-name = value where condition;

EXAMPLE:

Suppose we have a table that is named as employee.
Dept_No 	Dept_Name 	 Emp_No 	Emp_Name
10       	Management 	 E01 	   John Abraham
20 	        Management 	 E02 	   Tim
30 	        Finance 	 E10 	   Ali
40 	        Finance 	 E11 	   Faddy

To update the table we are going to use the following query:

Update employee set EMP_NO = E04 where DEPT_NO = 30;

This query will produce the following result:
Dept_No 	Dept_Name 	Emp_No 	Emp_Name
10 	       Management 	E01 	John Abraham
20 	       Management 	E02 	Tim
30 	       Finance 	    E04 	Ali
40 	       Finance 	    E11 	Faddy

This will update entry in the column EMP_NO with DEPT_NO 30.

(iii) Syntax: DELETE from Employee;

EXAMPLE:

Suppose we have the following table named as EMPLOYEE:
Dept_No 	Dept_Name 	Emp_No 	Emp_Name
10 	        Management 	E01 	John Abraham
20 	        Management 	E02 	Tim
30 	        Finance 	E04 	Ali
40 	        Finance 	E11 	Faddy

If we want to delete a specific record from the table then use the following query:

DELETE from employee where DEPT_NO = 40;

This query will delete the records where the department number is 40 from the table named as employee. This will delete the whole row from the table. The following result will be generated:

Dept_No 	Dept_Name 	Emp_No 	Emp_Name
10 	        Management 	E01 	John Abraham
20 	        Management 	E02 	Tim
30 	        Finance 	E04 	Ali

### Q4. What is DQL? Explain SELECT with an example.

#### Ans) The full form of DQL is Data Query Language. DQL is part of the base grouping of SQL sub-languages. DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it. The SQL SELECT statement is strictly speaking an example of DQL.

*An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE) that specify criteria. The syntax is:*

  `SELECT column1, column2 FROM table1, table2 WHERE column2='value';`

### Q5. Explain Primary Key and Foreign Key.

Ans) A Primary key is a unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.

The primary key column has a unique value and doesn’t store repeating values. A Primary key can never take NULL values.

For example, in the case of a student when identification needs to be done in the class, the roll number of the student plays the role of Primary key.

Similarly, when we talk about employees in a company, the employee ID is functioning as the Primary key for identification.

Syntax:
    
CREATE TABLE tableName (
    col1 int NOT NULL,
    col2 varchar(50) NOT NULL,
    col3 int,
    …………….
    PRIMARY KEY (col1)
);

A Foreign key is beneficial when we connect two or more tables so that data from both can be put to use parallelly.

A foreign key is a field or collection of fields in a table that refers to the Primary key of the other table. It is responsible for managing the relationship between the tables.

The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the Parent Table.

For example: When we talk about students and the courses they have enrolled in, now if we try to store all the data in a single table, the problem of redundancy arises.

To solve this table, we make two tables, one the student detail table and the other department table. In the student table, we store the details of students and the courses they have enrolled in.

And in the department table, we store all the details of the department. Here the courseId acts as the Primary key for the department table whereas it acts as the Foreign key in the student table.

Syntax:
CREATE TABLE childTable (
    col1 int NOT NULL,
    col2 int NOT NULL,
    col3 int,
    ………...
    PRIMARY KEY (col1),
    FOREIGN KEY (col3) REFERENCES parentTable(parent_Primary_key)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
##database anme
mydb = mysql.connector.connect( ##mysql connector
  host="localhost", ## host name
  user="abc", ## username
  password="password" ##password
)

MySQL cursor():

The cursor() method creates a cursor object that can be further used to perform CRUD(Create, Retrieve, Update, and Delete) operations over the database.

mycursor = mydb.cursor()

MySQL execute():

The execute() method executes a SQL query passed to it using the cursor previously created.

mycursor.execute("select * from table_name")

### Q7. Give the order of execution of SQL clauses in an SQL query.

`Ans) The order in which the clauses in SQL queries are executed is as follows:`

`1. FROM/JOIN:` The FROM and/or JOIN clauses are executed first to determine the data of interest.

`2. WHERE:` The WHERE clause is executed to filter out records that do not meet the constraints.

`3. GROUP BY:` The GROUP BY clause is executed to group the data based on the values in one or more columns.

`4. HAVING:` The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

`5. SELECT:` The SELECT clause is executed to derive all desired columns and expressions.

`6. ORDER BY:` The ORDER BY clause is executed to sort the derived values in ascending or descending order.

`7. LIMIT/OFFSET:` Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.